.md-toc-h4 {
  display: none;
}

.md-toc-h5 {
  display: none;
}

.md-toc-h6 {
  display: none;
}

.md-toc-h3 {
  display: none;
}

h1  {
    font-size: 3.0em;
}

#write h1  {
    text-align: center;
}

h2 {
    margin-top: 3em;
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}


/** initialize css counter */
#write {
    counter-reset: h1
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

/** put counter result into headings */
#write h1:before {
    counter-increment: h1;
    content: counter(h1) ". "
}

#write h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". "
}

/** override the default style for focused headings */
